@{
    ViewBag.Title = "Home Page";
}
<style>

    .jumbotron {
        background-image: url('../../Images/background.png');
        background-repeat: no-repeat;
        background-size: 300px 100px;
        text-align: left;
        width: 100%;
        height: 100%;
        background-color: aliceblue;
    }

</style>

<div class="jumbotron">
</div>

<div class="row">
    <dialog></dialog>
    <div class="col-md-4">
        <h2> Noah Flood Mapping</h2>
        <h5>- A mobile-friendly website >for monitoring flooded areas in Nasugbu,</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p> Monitoring Flood Maps</p>
        <p>
            The various areas in Nasugbu, Batangas that are being monitored for flooding risk.
        </p>
    </div>  
    <div class="col-md-4">
        <h2> Seek Assistance</h2>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>
            Users can send message notifications, which are received directly by the administrator, who monitors the system 24 hours a day, seven days a week.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Water level Monitoring</h2>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>
            an accurate water level monitoring system capable of monitoring changes in water level in Nasugbu areas
        </p>
    </div>
</div>